.logo {
    --logo: url("../Img/logo-home.svg");
}

.social__medias .social__medias--link {
    color: var(--tx-white);
}

.header:not(.scrolled) .levelOne__link:hover, .header:not(.scrolled) .levelOne__link:focus,
.header:not(.scrolled) .social__medias--link:hover, .header:not(.scrolled) .social__medias--link:focus {
    color: var(--cor-chumbo);
}

.btn__open--menu .bar {
    background: var(--color-white);
}

.planos__home {
    padding: 70px 0;
}

.planos__home a {
    text-decoration: none;
}

/* Whatsapp*/ 
.whatsapp__section {
    background: #F6F6F6;
    position: relative;
    padding-bottom: 150px;
    margin-bottom: 150px;
}

.whatsapp__section .main__title span {
    color: #5CB30B;
    font-weight: var(--fw-bold);
}

.btn__plano--whatsapp {
    color: var(--cor-chumbo);
    font-size: var(--body-sm);
    text-decoration: none;
    border: 2px solid var(--cor-chumbo);
    border-radius: 50px;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
}

.btn__plano--whatsapp:hover {
    color: #5CB30B;
    border-color: #5CB30B;
}

.smartphone-arte-img, .whatsapp-arte-img {
    position: absolute;
}

.smartphone-arte-img {
    display: none;
}

.whatsapp-arte-img {
    top: 70%;
}

/* Vantagens */
.vantagens__section {
    margin: 80px 0 50px;
}

.vantagem__item {
    display: grid;
    gap: 20px;
    justify-items: center;
}

.vantagens__section .main__title span {
    color: var(--cor-vermelho);
    font-weight: var(--fw-extra-bold);
}

.vantagem__icone {
    width: 140px;
    height: 140px;
    background-color: var(--cor-vermelho);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    position: relative;
    margin-bottom: 10px;
}

.vantagem__icone::before, .vantagem__icone::after {
    content: "";
    border: 1px solid var(--cor-cinza-claro);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100px;
    z-index: -1;
}

.vantagem__icone::before {
    top: -12px;
    left: 12px;
}

.vantagem__icone::after {
    top: 12px;
    left: -12px;
}

.vantagem__icone--download {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83' height='61' viewBox='0 0 83 61' fill='none'%3E%3Cpath d='M28.2704 39.18C29.4545 40.2161 29.6025 42.1403 28.5664 43.3244C25.4581 46.8767 21.0178 48.9488 16.2814 48.9488C7.25261 48.9488 0 41.6962 0 32.6675C0 23.6387 7.25261 16.3861 16.2814 16.3861C17.7615 16.3861 19.2416 16.5341 20.7217 16.9781C22.3499 17.4222 23.2379 19.0503 22.7939 20.6785C22.3499 22.3066 20.7217 23.1947 19.0936 22.7506C18.2055 22.4546 17.1694 22.3066 16.2814 22.3066C10.5089 22.3066 5.92049 26.895 5.92049 32.6675C5.92049 38.4399 10.5089 43.0283 16.2814 43.0283C19.2416 43.0283 22.0538 41.6962 24.126 39.476C25.1621 38.2919 26.9383 38.1439 28.2704 39.18ZM66.6047 16.3861C66.0127 16.3861 65.5686 16.3861 64.9766 16.5341C61.4243 6.76529 52.0995 0.104736 41.4435 0.104736C33.7468 0.104736 26.4942 3.50902 21.757 9.57753C20.7209 10.9096 21.0169 12.6858 22.201 13.7219C23.5331 14.758 25.3093 14.4619 26.3454 13.2778C30.0457 8.68946 35.5221 6.02523 41.4426 6.02523C50.3234 6.02523 57.872 11.9457 60.0922 20.5304C60.2402 21.2705 60.8322 22.0106 61.4243 22.3066C62.1644 22.7506 62.9044 22.7506 63.6445 22.6026C64.5326 22.3066 65.5686 22.1586 66.4567 22.1586C72.2292 22.1586 76.8176 26.747 76.8176 32.5195C76.8176 38.2919 72.2292 42.8803 66.4567 42.8803C63.4965 42.8803 60.6842 41.5482 58.6121 39.328C57.576 38.1439 55.6518 37.9959 54.4677 39.032C53.2836 40.0681 53.1356 41.9922 54.1717 43.1763C57.28 46.7286 61.7203 48.6528 66.4567 48.6528C75.4855 48.6528 82.7381 41.4002 82.7381 32.3714C82.7381 23.3427 75.6335 16.3861 66.6047 16.3861ZM48.2512 46.8767L44.4029 50.725V34.1476C44.4029 32.5195 43.0708 31.1873 41.4426 31.1873C39.8145 31.1873 38.4824 32.5195 38.4824 34.1476V50.725L34.6341 46.8767C33.45 45.6926 31.6738 45.6926 30.4897 46.8767C29.3056 48.0608 29.3056 49.8369 30.4897 51.021L39.3705 59.9017C39.9625 60.4938 40.7026 60.7898 41.4426 60.7898C42.1827 60.7898 42.9227 60.4938 43.5148 59.9017L52.3955 51.021C53.5796 49.8369 53.5796 48.0608 52.3955 46.8767C51.2114 45.6926 49.4353 45.6926 48.2512 46.8767ZM54.1717 17.7174C51.5075 13.277 46.6231 10.4648 41.4426 10.4648C39.8145 10.4648 38.4824 11.7969 38.4824 13.425C38.4824 15.0531 39.8145 16.3853 41.4426 16.3853C44.5509 16.3853 47.5111 18.0134 49.1393 20.6776C49.7313 21.5657 50.6194 22.1577 51.6555 22.1577C52.2475 22.1577 52.6916 22.0097 53.1356 21.7137C54.4677 20.8256 54.9118 19.0495 54.1717 17.7174Z' fill='white'/%3E%3C/svg%3E");
}

.vantagem__icone--email {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='52' viewBox='0 0 73 52' fill='none'%3E%3Cpath d='M65.1772 0H7.82127C3.51957 0 0 3.50995 0 7.79989V20.7997C0 22.2297 1.17319 23.3997 2.60709 23.3997C4.04099 23.3997 5.21418 22.2297 5.21418 20.7997V7.79989C5.21418 7.53989 5.21418 7.1499 5.34453 6.8899L35.1965 23.1404C35.5875 23.4004 35.9786 23.4004 36.5 23.4004C37.0214 23.4004 37.4125 23.2704 37.8035 23.1404L67.6555 7.02064C67.7858 7.15064 67.7858 7.54064 67.7858 7.80063V44.2001C67.7858 45.6301 66.6126 46.8001 65.1787 46.8001H7.82276C6.38886 46.8001 5.21567 45.6301 5.21567 44.2001V29.9003C5.21567 28.4703 4.04248 27.3004 2.60858 27.3004C1.17468 27.3004 0.00149008 28.4703 0.00149008 29.9003V44.2001C0.00149008 48.49 3.52106 52 7.82276 52H65.1787C69.4804 52 73 48.49 73 44.2001V7.80063C73 3.51069 69.4804 0.000742438 65.1787 0.000742438L65.1772 0ZM36.4993 17.8105L13.0354 5.20067H59.9631L36.4993 17.8105ZM50.8382 42.9009C49.4043 42.9009 48.2312 41.7309 48.2312 40.3009C48.2312 38.8709 49.4043 37.7009 50.8382 37.7009H61.2666C62.7005 37.7009 63.8737 38.8709 63.8737 40.3009C63.8737 41.7309 62.7005 42.9009 61.2666 42.9009H50.8382Z' fill='white'/%3E%3C/svg%3E");
}

.vantagem__icone--uptime {
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64' fill='none'%3E%3Cpath d='M57.7149 12.9143C56.9149 11.8857 55.5435 11.6571 54.5149 12.4571C53.4864 13.2571 53.2578 14.6286 54.0578 15.6571C55.2007 17.2571 56.2292 18.8571 57.0292 20.5714H47.3149C46.6292 15.6571 45.4864 11.0857 44.1149 7.31428C45.7149 8.11428 47.2007 9.02857 48.5721 10.0571C49.6007 10.8571 50.9721 10.6286 51.7721 9.6C52.5721 8.57143 52.3435 7.2 51.3149 6.4C45.6007 2.17143 38.9721 0 32 0C14.4 0 0 14.4 0 32C0 49.6 14.4 64 32 64C49.6 64 64 49.6 64 32C64 25.0286 61.8286 18.4007 57.7143 12.9149L57.7149 12.9143ZM58.5149 25.1429C59.0864 27.3143 59.4292 29.6 59.4292 32C59.4292 34.4 59.0864 36.6857 58.5149 38.8571H47.6578C47.8864 36.5714 47.8864 34.2857 47.8864 32C47.8864 29.7143 47.7721 27.4286 47.6578 25.1429H58.5149ZM4.57208 32C4.57208 29.6 4.91494 27.3143 5.48637 25.1429H11.8864C12.5721 27.0857 14.1721 28.6857 16.1149 29.3714C16.1149 30.2857 16.0007 31.2 16.0007 32C16.0007 34.2857 16.1149 36.5714 16.2292 38.8571H5.48637C4.91494 36.6857 4.57208 34.4 4.57208 32ZM18.2864 20.5714C19.5435 20.5714 20.5721 21.6 20.5721 22.8571C20.5721 24.1143 19.5435 25.1429 18.2864 25.1429C17.0292 25.1429 16.0007 24.1143 16.0007 22.8571C16.0007 21.6 17.0292 20.5714 18.2864 20.5714ZM20.5721 32C20.5721 31.0857 20.5721 30.1714 20.6864 29.2571C22.6292 28.5714 24.1149 27.0857 24.8007 25.1429H43.2013C43.4299 27.3143 43.5442 29.7143 43.5442 32C43.5442 34.2857 43.4299 36.6857 43.3156 38.8571H20.9156C20.687 36.5714 20.5727 34.2857 20.5727 32H20.5721ZM37.9435 5.25714C40.1149 9.14286 41.7149 14.5143 42.6292 20.5714H24.6857C24.2286 19.0857 23.2 17.9429 21.9429 17.1429C22.8571 12.4571 24.3429 8.34286 25.9429 5.25714C28 4.8 29.9429 4.57143 32 4.57143C34.0571 4.57143 36 4.8 37.9429 5.25714H37.9435ZM20 7.31428C18.9714 9.94286 18.1714 12.8 17.4857 16C14.8571 16.3429 12.6857 18.0571 11.7714 20.5714H6.97143C9.71428 14.8571 14.2857 10.0571 20 7.31428ZM7.08571 43.4286H16.8C17.4857 48.3429 18.6286 52.9143 20 56.6857C14.2857 53.9429 9.71428 49.1429 7.08571 43.4286ZM26.0571 58.7429C23.8857 54.8571 22.2857 49.4857 21.3714 43.4286H42.6286C41.7143 49.6 40.1143 54.9714 37.9429 58.7429C36 59.2 34.0571 59.4286 32 59.4286C29.9429 59.4286 28 59.2 26.0571 58.7429ZM44.0007 56.6857C45.4864 52.9143 46.6292 48.3429 47.2007 43.4286H56.9149C54.2864 49.1429 49.7149 53.9429 44.0007 56.6857Z' fill='white'/%3E%3C/svg%3E");
}

.vantagem__icone--camera {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='60' viewBox='0 0 73 60' fill='none'%3E%3Cpath d='M65.1786 13.0435H52.925L51.3607 5.21739C50.7089 2.21739 48.1018 0 44.9732 0H28.0268C24.8982 0 22.2911 2.21739 21.6393 5.21739L20.075 13.0435H7.82143C3.51964 13.0435 0 16.5652 0 20.8696V26.087C0 27.5217 1.17321 28.6957 2.60714 28.6957C4.04107 28.6957 5.21429 27.5217 5.21429 26.087V20.8696C5.21429 19.4348 6.3875 18.2609 7.82143 18.2609H22.1607C23.4643 18.2609 24.5071 17.3478 24.7679 16.1739L26.7232 6.26087C26.8536 5.6087 27.375 5.21739 28.0268 5.21739H45.1028C45.7546 5.21739 46.276 5.6087 46.4064 6.26087L48.3618 16.1739C48.6225 17.3478 49.6653 18.2609 50.9689 18.2609H65.3082C66.7421 18.2609 67.9153 19.4348 67.9153 20.8696V32.6087H51.8821C50.5786 25.1739 44.1911 19.5652 36.5 19.5652C28.8089 19.5652 22.2911 25.1739 21.1179 32.6087H2.60714C1.17321 32.6087 0 33.7826 0 35.2174V52.1739C0 56.4783 3.51964 60 7.82143 60H65.1786C69.4804 60 73 56.4783 73 52.1739V20.8696C73 16.5652 69.4804 13.0435 65.1786 13.0435ZM36.5 24.7826C42.2357 24.7826 46.9286 29.4783 46.9286 35.2174C46.9286 40.9565 42.2357 45.6522 36.5 45.6522C30.7643 45.6522 26.0714 40.9565 26.0714 35.2174C26.0714 29.4783 30.7643 24.7826 36.5 24.7826ZM65.1786 54.7826H7.82143C6.3875 54.7826 5.21429 53.6087 5.21429 52.1739V37.8261H21.1179C22.4214 45.2609 28.8089 50.8696 36.5 50.8696C44.1911 50.8696 50.7089 45.2609 51.8821 37.8261H67.7857V52.1739C67.7857 53.6087 66.6125 54.7826 65.1786 54.7826ZM33.8929 35.2174C33.8929 33.7826 35.0661 32.6087 36.5 32.6087C37.9339 32.6087 39.1071 33.7826 39.1071 35.2174C39.1071 36.6522 37.9339 37.8261 36.5 37.8261C35.0661 37.8261 33.8929 36.6522 33.8929 35.2174Z' fill='white'/%3E%3C/svg%3E");
}

.swiper-vantagens .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 8px;
    border: 2px solid var(--cor-chumbo);
    background: none;
    opacity: 1;
}

.swiper-vantagens .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--cor-chumbo);
}



@media screen and (min-width: 450px){
    .whatsapp-arte-img {
        width: 90%;
        
    }
}

@media screen and (min-width: 576px){
    .whatsapp-arte-img {
        width: 80%;
        
    }
}

@media screen and (min-width: 680px){
    .whatsapp-arte-img {
        width: 61%;
        
    }
}

@media screen and (min-width:768px) {
    .whatsapp-arte-img {
        top: 85px;
        left: 0;
        width: 35%;
    }
    .whatsapp__section {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:993px){
    .levelOne__link {
        color: var(--tx-white);
    }
}

@media screen and (min-width: 1200px){
    .smartphone-arte-img {
        bottom: 0;
        right: 0;
        width: 30%;
        display: block;
    }
}

