<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Xplay | Home</title>
    <meta name="description" content="Xplay">
    <link rel="icon" type="image/x-icon" href="../favicon.ico">

    <!-- Main -->
    <link href="../Assets/Css/main.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="../Assets/Css/main.css"></noscript>

    <!-- Bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet preconnect"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="../Assets/font/fontawesome-6/css/fontawesome.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/font/fontawesome-6/css/brands.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/font/fontawesome-6/css/solid.min.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">


    <!-- CSS -->
    <link href="../Assets/Css/header.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/Css/footer.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/Css/Home/home.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/Css/Home/banner.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/Css/Home/planos.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link href="../Assets/Css/Home/app.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navbar-header">
                <a class="navbar-brand col-auto logo-mobile" href="Home.html" title="Home">
                    <div class="logo"></div>
                </a>
                <button class="btn__open--menu col-auto" type="button" aria-label="Abrir menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <div class="menu">
                    <a class="navbar-brand col-auto logo-desktop" href="Home.html" title="Home">
                        <div class="logo"></div>
                    </a>
                    <div class="navbar-nav">
                        <a href="Home.html" class="levelOne__link">Home</a>
                        <a href="Planos.html" class="levelOne__link">Planos</a>
                        <a href="Download.html" class="levelOne__link">Download do app</a>
                        <a href="Cobertura.html" class="levelOne__link">Cobertura</a>
                        <a href="Atendimento.html" class="levelOne__link">Atendimento</a>
                    </div>
                    <div class="social__medias">
                        <a href="https://www.facebook.com/xplay.digitaloficial/" class="social__medias--link" title="Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/xplay.digital" class="social__medias--link" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/xplay-digital" class="social__medias--link" title="Youtube" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/XPlayTVDigital" class="social__medias--link" title="Linkedin" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <section class="banner__home">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper banner">
                <div class="parallax-bg"  
                data-swiper-parallax="-23%"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style=" background: linear-gradient(134.52deg, #832FED 25.21%, #ED462F 149.05%);">
                        <div class="container">
                            <div class="row justify-content-center align-items-center pb-5">
                                <div class="col-lg-4 col-md-5 col-9 order-lg-0 order-1 mb-4">
                                    <h2 class="main__title text-md-start text-center" data-swiper-parallax="-300">
                                        Garanta já seu <strong>XPlay Chip.</strong>
                                    </h2>
                                </div>
                                <div class="col-lg-5 col-md-8 col-12 order-0 mb-4">
                                    <div class="banner__img">
                                        <picture >
                                            <source srcset="../Assets/Img/Banner/arte-banner.webp" type="image/webp">
                                            <img src="../Assets/Img/Banner/arte-banner.png" alt="Ilustração Smartphone" class="img-fluid" data-swiper-parallax="-400">
                                        </picture>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-7 col-9 order-2">
                                    <h3 class="banner__subtitle text-md-start text-center mb-3" data-swiper-parallax="-300">
                                        Planos a partir
                                        de <strong>R$24,90.</strong>
                                    </h3>
                                    <p class="banner__text fs-6 text-md-start text-center  mb-3" data-swiper-parallax="-200">
                                        Tenha o melhor plano para o seu celular.
                                        Internet e whatsapp ilimitados!
                                    </p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB" class="btn__banner mx-md-0 mx-auto" data-swiper-parallax="-200">
                                        Assine por <strong>R$19,90/mês</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style=" background: linear-gradient(134.52deg, #2f65ed 25.21%, #2fed3c 149.05%);">
                        <div class="container">
                            <div class="row justify-content-center align-items-center pb-5">
                                <div class="col-lg-4 col-md-5 col-9 order-lg-0 order-1 mb-4">
                                    <h2 class="main__title text-md-start text-center" data-swiper-parallax="-300">
                                        Garanta já seu <strong>XPlay Chip.</strong>
                                    </h2>
                                </div>
                                <div class="col-lg-5 col-md-8 col-12 order-0 mb-4">
                                    <div class="banner__img">
                                        <picture >
                                            <source srcset="../Assets/Img/Banner/arte-banner.webp" type="image/webp">
                                            <img src="../Assets/Img/Banner/arte-banner.png" alt="Ilustração Smartphone" class="img-fluid" data-swiper-parallax="-400">
                                        </picture>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-7 col-9 order-2">
                                    <h3 class="banner__subtitle text-md-start text-center mb-3" data-swiper-parallax="-300">
                                        Planos a partir
                                        de <strong>R$24,90.</strong>
                                    </h3>
                                    <p class="banner__text fs-6 text-md-start text-center  mb-3" data-swiper-parallax="-200">
                                        Tenha o melhor plano para o seu celular.
                                        Internet e whatsapp ilimitados!
                                    </p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB" class="btn__banner mx-md-0 mx-auto" data-swiper-parallax="-200">
                                        Assine por <strong>R$19,90/mês</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide" style=" background: linear-gradient(134.52deg, #ed6b2f 25.21%, #edda2f 149.05%);">
                        <div class="container">
                            <div class="row justify-content-center align-items-center pb-5">
                                <div class="col-lg-4 col-md-5 col-9 order-lg-0 order-1 mb-4">
                                    <h2 class="main__title text-md-start text-center" data-swiper-parallax="-300">
                                        Garanta já seu <strong>XPlay Chip.</strong>
                                    </h2>
                                </div>
                                <div class="col-lg-5 col-md-8 col-12 order-0 mb-4">
                                    <div class="banner__img">
                                        <picture >
                                            <source srcset="../Assets/Img/Banner/arte-banner.webp" type="image/webp">
                                            <img src="../Assets/Img/Banner/arte-banner.png" alt="Ilustração Smartphone" class="img-fluid" data-swiper-parallax="-400">
                                        </picture>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-7 col-9 order-2">
                                    <h3 class="banner__subtitle text-md-start text-center mb-3" data-swiper-parallax="-300">
                                        Planos a partir
                                        de <strong>R$24,90.</strong>
                                    </h3>
                                    <p class="banner__text fs-6 text-md-start text-center  mb-3" data-swiper-parallax="-200">
                                        Tenha o melhor plano para o seu celular.
                                        Internet e whatsapp ilimitados!
                                    </p>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB" class="btn__banner mx-md-0 mx-auto" data-swiper-parallax="-200">
                                        Assine por <strong>R$19,90/mês</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="container container-pagination">
                <div class="swiper-pagination"></div>
              </div>
                
            </div>
        </section>
        
        <section class="planos__home">
           <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12 px-0">
                        <h2 class="main__title" data-aos="zoom-in">
                            Confira os planos celular <br/>
                            <strong>que preparamos para você.</strong>
                        </h2>
                    
                        <div class="swiper swiper-planos mt-5 pb-5">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide slide-plano__mais--vendido">
                                    <div class="plano__card plano__mais--vendido">
                                        <div class="plano__header">
                                            <div class="selo__mais--vendido"></div>
                                            <p class="plano__giga">
                                                32 <span>GB</span>
                                            </p>
                                        </div>
                                        <div class="plano__body">
                                            <div class="plano__infos mb-4">
                                                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                            </div>
                                            <p class="text-center mb-4">
                                                Válido por 30 dias. <br />
                                                Renovação Automática*
                                            </p>
                                            <a href="#" target="" class="plano__price">
                                                Assine por <span>R$39,90/mês</span>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB">Mais Informações</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="plano__card">
                                        <div class="plano__header">
                                            <p class="plano__giga">
                                                64 <span>GB</span>
                                            </p>
                                        </div>
                                        <div class="plano__body">
                                            <div class="plano__infos mb-4">
                                                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                            </div>
                                            <p class="text-center mb-4">
                                                Válido por 30 dias. <br />
                                                Renovação Automática*
                                            </p>
                                            <a href="#" target="" class="plano__price">
                                                Assine por <span>R$49,90/mês</span>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB">Mais Informações</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="plano__card">
                                        <div class="plano__header">
                                            <p class="plano__giga">
                                                128 <span>GB</span>
                                            </p>
                                        </div>
                                        <div class="plano__body">
                                            <div class="plano__infos mb-4">
                                                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                            </div>
                                            <p class="text-center mb-4">
                                                Válido por 30 dias. <br />
                                                Renovação Automática*
                                            </p>
                                            <a href="#" target="" class="plano__price">
                                                Assine por <span>R$59,90/mês</span>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB">Mais Informações</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="plano__card">
                                        <div class="plano__header">
                                            <p class="plano__giga">
                                                8 <span>GB</span>
                                            </p>
                                        </div>
                                        <div class="plano__body">
                                            <div class="plano__infos mb-4">
                                                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                            </div>
                                            <p class="text-center mb-4">
                                                Válido por 30 dias. <br />
                                                Renovação Automática*
                                            </p>
                                            <a href="#" target="" class="plano__price">
                                                Assine por <span>R$19,90/mês</span>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB">Mais Informações</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="plano__card">
                                        <div class="plano__header">
                                            <p class="plano__giga">
                                                16 <span>GB</span>
                                            </p>
                                        </div>
                                        <div class="plano__body">
                                            <div class="plano__infos mb-4">
                                                <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                            </div>
                                            <p class="text-center mb-4">
                                                Válido por 30 dias. <br />
                                                Renovação Automática*
                                            </p>
                                            <a href="#" target="" class="plano__price">
                                                Assine por <span>R$29,90/mês</span>
                                            </a>
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#ModalPlano32GB">Mais Informações</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                          </div>
                         
                          <p class="text-center">*Ganhe Bônus fazendo a portabilidade para a Xplay.</p>
                          <!-- Modal -->
                          <div class="modal fade modal__plano" id="ModalPlano32GB" tabindex="-1" aria-labelledby="ModalPlano32GB"
                          aria-hidden="true">
                          <div class="modal-dialog modal-xl">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="btn-close me-md-0 mx-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                      <div class="container">
                                          <div class="row justify-content-between">
                                              <div class="col-lg-5 col-12">
                                                  <h3 class="plano__title mb-4 text-lg-start text-center">Plano Pós <span>32 GB</span></h3>
                                                  <p class="plano__description--text mb-4 text-lg-start text-center">
                                                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique saepe ipsa, error
                                                      officiis porro ducimus.
                                                  </p>
                                                  <div class="plano__infos mb-5 justi">
                                                      <p><i class="fa-brands fa-whatsapp"></i> Whatsapp Ilimitado</p>
                                                      <p><i class="fa-solid fa-phone"></i> Ligações Ilimitadas</p>
                                                      <p><i class="fa-solid fa-envelope"></i> SMS Ilimitado</p>
                                                      <p><i class="fa-solid fa-globe"></i> 8GB para utilizar</p>
                                                  </div>
                                                  <a href="#" target="" class="plano__price ms-lg-0 mx-auto mb-5">
                                                      Assine por <span>R$39,90/mês</span>
                                                  </a>
                                              </div>
                                              <div class="col-lg-6 col-12">
                                                  <div class="plano__description--box">
                                                      <h4 class="plano__description--title mb-3">
                                                          Assinatura Disney+ Inclusa
                                                      </h4>
                                                      <p class="plano__description--text mb-5">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sequi
                                                          consequatur facere molestiae animi dolorem quae officiis
                                                      </p>
                                                      <h4 class="plano__description--title mb-3">
                                                          Xplay Travel
                                                      </h4>
                                                      <p class="plano__description--text mb-5">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sequi
                                                          consequatur facere molestiae animi dolorem quae officiis
                                                      </p>
                                                      <h4 class="plano__description--title mb-3">
                                                          Whatapp Ilimitado
                                                      </h4>
                                                      <p class="plano__description--text mb-5">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sequi
                                                          consequatur facere molestiae animi dolorem quae officiis
                                                      </p>
                                                      <h4 class="plano__description--title mb-3">
                                                          Ligações e SMS Ilimitados
                                                      </h4>
                                                      <p class="plano__description--text mb-5">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sequi
                                                          consequatur facere molestiae animi dolorem quae officiis
                                                      </p>
                                                      <h4 class="plano__description--title mb-3">
                                                          Assinatura Disney+ Inclusa
                                                      </h4>
                                                      <p class="plano__description--text mb-5">
                                                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sequi
                                                          consequatur facere molestiae animi dolorem quae officiis
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="whatsapp__section ">
            <div class="container-fluid">
                <div class="row justify-content-xl-center justify-content-md-end justify-content-center">
                
                    <img src="../Assets/Img/whatsapp-arte.svg" class="img-fluid whatsapp-arte-img" 
                    alt="Ilustração logotipo Whatsapp" data-aos="fade-up-right">
                    
                    <div class="col-xl-5 col-md-7 col-sm-10 py-5 pe-xg-3 me-xl-0 pe-md-5 me-md-5" data-aos="fade-up">
                        <h2 class="main__title mb-3">
                            Você sabia que pode ter Whatsapp <br />
                            <span>ILIMITADO</span> <strong>em seu smartphone?</strong>
                        </h2>
                        <p class="text-center fs-6">
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At eum unde distinctio 
                            sequi doloribus voluptatem dolorem fugit quos voluptates labore molestiae dolores, 
                            eligendi et enim culpa sed eaque corrupti perspiciatis?
                        </p>
                        <a href="#" class="btn__plano--whatsapp mt-4 mx-auto" target="">
                            Conheça nosso&nbsp;<strong>Plano Whatsapp Ilimitado</strong>
                        </a>
                    </div>
                   
                    <img src="../Assets/Img/smartphone-arte.svg" class="img-fluid smartphone-arte-img" 
                    alt="Ilustração mãos segurando smartphone" data-aos="fade-up-left">
                   
                </div>
            </div>
        </section>

        <section class="vantagens__section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="main__title mb-4" data-aos="zoom-in">
                            Quais as vantagens de ter seu<br/>
                            <span>XPlay Chip?</span>
                        </h2>
                        <div class="swiper swiper-vantagens pb-5">
                            <div class="swiper-wrapper pt-4">
                                <div class="swiper-slide">
                                    <div class="vantagem__item">
                                        <div class="vantagem__icone vantagem__icone--download"></div>
                                        <h3 class="vantagem__title text-center fs-4">
                                            Download de<br />
                                            <strong>50mb</strong>
                                        </h3>
                                        <p class="vantagem__text text-center fs-6">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Gravida volutpat magna sit amet id velit eros nulla cursus.
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="vantagem__item">
                                        <div class="vantagem__icone vantagem__icone--email"></div>
                                        <h3 class="vantagem__title text-center fs-4">
                                            Ganhe um e-mail<br>
                                            <strong>com 10gb</strong>
                                        </h3>
                                        <p class="vantagem__text text-center fs-6">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Gravida volutpat magna sit amet id velit eros nulla cursus.
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="vantagem__item">
                                        <div class="vantagem__icone vantagem__icone--camera"></div>
                                        <h3 class="vantagem__title text-center fs-4">
                                            Espaço de sobra<br>
                                            <strong>para todas suas fotos</strong>
                                        </h3>
                                        <p class="vantagem__text text-center fs-6">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Gravida volutpat magna sit amet id velit eros nulla cursus.
                                        </p>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="vantagem__item">
                                        <div class="vantagem__icone vantagem__icone--uptime"></div>
                                        <h3 class="vantagem__title text-center fs-4">
                                            Uptime <strong>99,9%</strong>
                                        </h3>
                                        <p class="vantagem__text text-center fs-6">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Gravida volutpat magna sit amet id velit eros nulla cursus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="app__section">
            <div class="container">
                <div class="row justify-content-md-start justify-content-end">
                    <div class="col-lg-5 col-md-6 col-sm-7 col-8">
                        <h2 class="main__title text-md-start text-end mb-4">
                            Faça download do <br> 
                            <span><strong>nosso app</strong></span>
                        </h2>
                        <p class="fs-6 mb-4 text-md-start text-end">
                            Faça download do app no google play ou app store.
                        </p>
                    </div>
                </div>
                <div class="row justify-content-md-start justify-content-end">
                    <div class="col-lg-5 col-md-6 col-sm-5 col-6">
                        <div class="download__links">
                            <a href="https://apps.apple.com/br/app/xplay-digital/id1600685311" target="_blank" title="Donwload na App Store">
                                <img src="../Assets/Img/app_store.svg" class="img-fluid" alt="App Store" width="253" height="77">
                            </a>
                            <a href="https://play.google.com/store/apps/details?id=digital.xplay.app&hl=pt_BR&gl=US" target="_blank" title="Donwload na Google Play Store">
                                <img src="../Assets/Img/google_play.svg" class="img-fluid" alt="Google Play Store" width="253" height="77">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-center">
                <div class="col-lg-auto col-12 footer__logo">
                    <img src="../Assets/Img/logo-footer.svg" class="img-fluid" alt="Xplay" width="79" height="48">
                </div>
                <div class="col-lg-auto col-md-4 col-sm-6">
                    <div class="footer__info">
                        <div class="footer__icon location__icon"></div>
                        <a href="https://goo.gl/maps/HWXzVRaZAQmuHnWh9" target="_blank" class="footer__info--link">
                            R. Dr. Bozano, 715 - São Pelegrino <br/>
                            Caxias do Sul, RS - 95020-030
                        </a>
                    </div>
                </div>
                <div class="col-lg-auto col-md-4 col-sm-6">
                    <div class="footer__info">
                        <div class="footer__icon email__icon"></div>
                        <a href="mailto:contato@xplay.com.br" class="footer__info--link">
                            contato@xplay.com.br
                        </a>
                    </div>
                </div>
                <div class="col-lg-auto col-md-4 col-sm-6">
                    <div class="footer__info">
                        <div class="footer__icon fone__icon"></div>
                        <a href="tel:+55543202-8000" class="footer__info--link">
                            (54) 3202-8000
                        </a>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-12 redes__footer">
                    <div class="redes">
                        <a href="https://www.facebook.com/xplay.digitaloficial/" class="redes__footer--link" title="Facebook" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/xplay.digital" class="redes__footer--link" title="Instagram" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/xplay-digital" class="redes__footer--link" title="Youtube" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/XPlayTVDigital" class="redes__footer--link" title="Linkedin" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <nav class="fixed__whatsapp">
        <a href="#" target="_blank" title="Link WhatsApp">
            <i class="fa-brands fa-whatsapp"></i> 
        </a>
    </nav>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        
    <!-- Bootstarp -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous" async></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous" async></script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <script src="../Assets/Js/main.js" type="text/javascript"></script>
    <script src="../Assets/Js/banner.js" type="text/javascript"></script>
    <script src="../Assets/Js/home.js" type="text/javascript"></script>
    
    <!-- AOS Efect -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>