.swiper-planos {
 padding: 0 50px;
 max-width: 1450px;
}

.swiper-planos .swiper-wrapper {
    padding: 25px 0;
}
 
.plano__card {
    background: var(--bg-body-plano);
    border-radius:  18.4269px 88.4492px 46.0673px 46.0673px;
}

.plano__header {
    background: var(--bg-header-plano);
    border-radius: 18.4269px 88.4492px ;
    position: relative;
}

.plano__giga {
    color: var(--tx-white);
    font-family: "Days one", "Open Sans", sans-serif;
    font-size: 70px;
    font-weight: var(--fw-regular);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
    line-height: 1;
    margin: 0;
}

.plano__giga span {
    font-size: 26px;
}

.plano__body {
   padding: 30px 40px;
}

.plano__infos p {
    color: var(--cor-chumbo);
    font-size: var(--body-md);
    font-weight: var(--fw-bold);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.plano__infos i {
    font-size: 20px;
}

.plano__infos p .fa-whatsapp {
    color: #25D366;
}

.plano__price {
    color: var(--tx-white);
    font-weight: var(--fw-regular);
    background: var(--bg-header-plano);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    transition: 300ms ease-in-out;
    display: flex;
    font-size: var(--body-sm);
    margin-bottom: 20px;
    gap: 4px;
}

.plano__price span {
    font-weight: var(--fw-extra-bold);
}

.plano__body a:not(.plano__price) {
    text-decoration: none;
    font-size: var(--body-sm);
    color: var(--cor-chumbo);
    display: flex;
    justify-content: center ;
}

.plano__body a:not(.plano__price):hover {
    text-decoration: underline;
    color: var(--cor-vermelho);
}

.plano__mais--vendido{
    transform: scale(1.05);
}

.plano__mais--vendido .plano__header, .plano__mais--vendido .plano__price {
    background: #0B3573;
}

.swiper-planos .swiper-pagination .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 8px;
    border: 2px solid var(--cor-chumbo);
    background: none;
    opacity: 1;
}

.swiper-planos .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--cor-chumbo);
}

.modal__plano {
    background: #000000cc;
}

.modal__plano .btn-close {
    opacity: 1;
    border: 2px solid #000;
    border-radius: 30px
}

.modal__plano .modal-header{
    border-bottom: none;
}

.modal__plano .modal-body {
    padding: 20px 20px 30px 20px;
}

.modal__plano .plano__price {
    width: fit-content;
    background: #0B3573;
}

.plano__price:hover {
    background: var(--cor-vermelho);
    color: var(--color-white)
}

.plano__title {
    font-size: var(--header-xl);
    font-weight: var(--fw-light);
    color: var(--cor-chumbo)
}

.plano__title span {
    color: var(--cor-vermelho);
    font-weight: var(--fw-bold);
}

.plano__description--text {
    font-size: var(--body-md);
}

.plano__description--title {
    font-weight: var(--fw-bold);
    font-size: var(--header-xs);
}

@media screen and (min-width: 500px){
    .swiper-planos {
        padding: 0 75px;
    }
}

@media screen and (min-width: 500px){
    .swiper-planos {
        padding: 0 75px;
    }
}

@media screen and (min-width: 600px){
    .swiper-planos {
        padding: 0 120px;
    }
}

@media screen and (min-width: 768px){
    .swiper-planos {
        padding: 0 20px;
    }
    .plano__body {
        padding: 30px 15px;
    }
    .modal__plano .modal-body {
        padding: 20px 60px 30px 60px;
    }
}

@media screen and (min-width: 900px){
    .swiper-planos {
        padding: 0 70px;
    }
  
}

@media screen and (min-width: 992px){
    .plano__infos p {
        justify-content: flex-start;
    }
}

@media screen and (min-width: 1200px){
    .swiper-planos {
        padding: 0;
    }
    .swiper-planos .swiper-pagination {
        display: none;
    }
    .plano__description--box {
        overflow-y: scroll;
        max-height: 500px;
    }
}

@media screen and (min-width: 1300px){
    .plano__body {
        padding: 30px;
    }
}

.selo__mais--vendido {
    position: absolute;
    top: -10px;
    right: 0;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='85' height='86' viewBox='0 0 85 86' fill='none'%3E%3Cpath d='M79.7411 42.9186L84.4299 34.8148C84.9935 33.8398 85.1467 32.6809 84.856 31.5929C84.5653 30.505 83.8545 29.577 82.8797 29.013L74.7677 24.324V14.98C74.7677 13.8535 74.3202 12.7732 73.5237 11.9767C72.7272 11.1802 71.6469 10.7327 70.5205 10.7327H61.181L56.4964 2.6246C55.9306 1.65162 55.0045 0.940574 53.9184 0.645365C53.3797 0.499325 52.8174 0.461668 52.264 0.534576C51.7107 0.607484 51.1773 0.789508 50.6948 1.07009L42.5827 5.7591L34.4707 1.06585C33.4952 0.502646 32.3359 0.350021 31.2479 0.641546C30.1599 0.933071 29.2323 1.64487 28.6691 2.62035L23.9802 10.7327H14.6407C13.5143 10.7327 12.434 11.1802 11.6375 11.9767C10.841 12.7732 10.3935 13.8535 10.3935 14.98V24.3198L2.28149 29.0088C1.79745 29.2872 1.37319 29.6585 1.0331 30.1014C0.693001 30.5443 0.443768 31.0501 0.299717 31.5896C0.155666 32.1291 0.119635 32.6918 0.193696 33.2453C0.267756 33.7988 0.450447 34.3321 0.731274 34.8148L5.42013 42.9186L0.731274 51.0225C0.170602 51.9984 0.0184828 53.1564 0.308081 54.244C0.597679 55.3316 1.30551 56.2607 2.27724 56.8285L10.3893 61.5175V70.8573C10.3893 71.9838 10.8368 73.0641 11.6333 73.8606C12.4298 74.6571 13.51 75.1046 14.6365 75.1046H23.9802L28.6691 83.2169C29.0451 83.8597 29.5819 84.3935 30.2268 84.7659C30.8717 85.1383 31.6024 85.3363 32.3471 85.3406C33.0861 85.3406 33.8208 85.1452 34.4749 84.7672L42.5785 80.0782L50.6905 84.7672C51.6658 85.3296 52.8242 85.4822 53.9119 85.1916C54.9995 84.901 55.9274 84.1908 56.4922 83.2169L61.1768 75.1046H70.5163C71.6427 75.1046 72.723 74.6571 73.5194 73.8606C74.3159 73.0641 74.7634 71.9838 74.7634 70.8573V61.5175L82.8755 56.8285C83.3587 56.5493 83.7821 56.1775 84.1216 55.7345C84.461 55.2915 84.7099 54.786 84.8538 54.2468C84.9978 53.7076 85.0341 53.1453 84.9606 52.592C84.8872 52.0388 84.7054 51.5054 84.4257 51.0225L79.7411 42.9186Z' fill='url(%23paint0_linear_422_186)'/%3E%3Cpath d='M30.8742 44.296L27.2417 38.2149L27.1854 38.2299C27.2478 38.3963 27.3265 38.6231 27.4213 38.9104C27.5203 39.1965 27.6234 39.5061 27.7305 39.8391C27.8376 40.1722 27.933 40.495 28.0168 40.8076L29.0803 44.7767L26.8926 45.3629L24.4439 36.2244L27.7318 35.3435L31.3767 41.3208L31.4267 41.3074L31.5572 34.3185L34.8513 33.4358L37.2999 42.5743L35.0309 43.1823L33.9573 39.1756C33.8803 38.888 33.8018 38.5786 33.722 38.2471C33.6451 37.9104 33.5739 37.5945 33.5082 37.2995C33.4456 36.9991 33.3977 36.7619 33.3644 36.5877L33.3082 36.6028L33.2245 43.6663L30.8742 44.296ZM44.3637 40.6816L43.4547 39.0895L40.4857 39.885L40.482 41.7216L37.7692 42.4485L38.2921 32.4736L41.5862 31.591L47.064 39.958L44.3637 40.6816ZM42.3995 37.2016L41.6038 35.8069C41.5185 35.6556 41.3961 35.4405 41.2366 35.1617C41.0759 34.8787 40.913 34.5874 40.7478 34.2877C40.5857 33.9828 40.4559 33.7317 40.3584 33.5345C40.3767 33.7529 40.3918 34.0258 40.4036 34.3532C40.4184 34.6752 40.4285 34.9963 40.4339 35.3165C40.4435 35.6355 40.448 35.9022 40.4474 36.1168L40.4556 37.7225L42.3995 37.2016ZM47.5458 39.8289L45.0971 30.6904L47.5787 30.0255L50.0273 39.164L47.5458 39.8289ZM56.7287 34.3938C56.8616 34.8897 56.8627 35.3941 56.7322 35.9069C56.6005 36.4157 56.3069 36.8784 55.8514 37.2953C55.4 37.711 54.7576 38.0305 53.9242 38.2538C53.5075 38.3655 53.1358 38.445 52.809 38.4923C52.4864 38.5386 52.1786 38.5563 51.8854 38.5455C51.591 38.5306 51.2796 38.4935 50.9511 38.4341L50.3615 36.2339C50.9244 36.351 51.4758 36.4087 52.0158 36.407C52.5546 36.401 53.0282 36.3434 53.4366 36.2339C53.6825 36.1681 53.8747 36.0853 54.0132 35.9856C54.1559 35.8849 54.2514 35.7744 54.2996 35.6543C54.3467 35.5301 54.3524 35.4012 54.3166 35.2679C54.2742 35.1095 54.1822 34.9913 54.0407 34.9131C53.9022 34.8296 53.6959 34.7598 53.4218 34.7037C53.1478 34.6476 52.7888 34.583 52.3449 34.5099C51.9649 34.442 51.6151 34.3616 51.2954 34.2686C50.9799 34.1745 50.6957 34.0474 50.4429 33.8874C50.1932 33.722 49.9777 33.5096 49.7965 33.2499C49.6152 32.9903 49.4722 32.6647 49.3672 32.2729C49.2098 31.6854 49.2218 31.1551 49.4032 30.6822C49.5877 30.204 49.9115 29.7957 50.3747 29.4572C50.842 29.1176 51.4152 28.8568 52.0945 28.6748C52.6904 28.5151 53.2437 28.4383 53.7545 28.4444C54.2694 28.4493 54.7394 28.4864 55.1644 28.5557L54.9189 30.6648C54.4792 30.5906 54.0558 30.5522 53.6486 30.5496C53.2404 30.5429 52.8738 30.583 52.5487 30.6701C52.3362 30.7271 52.1684 30.8011 52.0454 30.8921C51.9255 30.9778 51.8439 31.0734 51.8007 31.1787C51.7616 31.283 51.7572 31.3914 51.7873 31.5039C51.8253 31.6456 51.9135 31.7582 52.052 31.8416C52.1947 31.924 52.413 31.9972 52.7071 32.0614C53.0043 32.1202 53.4058 32.1935 53.9116 32.2813C54.4111 32.3618 54.8484 32.4769 55.2235 32.6265C55.5974 32.772 55.9092 32.9854 56.1588 33.2669C56.4115 33.5431 56.6014 33.9187 56.7287 34.3938ZM23.4661 50.9803L22.9207 60.9211L20.0141 61.6999L14.5839 53.3603L17.3592 52.6166L19.8442 56.9151C19.9369 57.0778 20.0493 57.2889 20.1813 57.5483C20.3164 57.8024 20.4452 58.0582 20.5678 58.3157C20.6946 58.572 20.7871 58.7839 20.8454 58.9514C20.8163 58.7761 20.7889 58.549 20.7633 58.27C20.7377 57.991 20.7162 57.7109 20.6989 57.4297C20.6847 57.1432 20.6791 56.9058 20.6822 56.7173L20.7033 51.7206L23.4661 50.9803ZM31.8222 58.5359L26.3966 59.9897L23.9479 50.8512L29.3735 49.3974L29.9044 51.3789L26.9479 52.1711L27.3331 53.6088L30.0709 52.8752L30.6018 54.8566L27.864 55.5902L28.3263 57.3154L31.2829 56.5232L31.8222 58.5359ZM41.6112 55.9129L38.3734 56.7805L33.3104 51.2367L33.2541 51.2518C33.3275 51.4421 33.4093 51.6725 33.4997 51.943C33.59 52.2136 33.68 52.491 33.7695 52.7751C33.858 53.0552 33.9329 53.3098 33.9943 53.539L35.098 57.6582L32.9103 58.2444L30.4616 49.1059L33.687 48.2416L38.714 53.7013L38.7515 53.6912C38.6854 53.4946 38.6109 53.2667 38.5281 53.0075C38.4441 52.7441 38.3596 52.4787 38.2745 52.2112C38.1936 51.9426 38.1252 51.7041 38.0694 51.4957L36.9623 47.364L39.1626 46.7745L41.6112 55.9129ZM49.5552 48.6794C49.8399 49.742 49.8787 50.6785 49.6715 51.4888C49.4644 52.2991 49.0478 52.9779 48.4218 53.5253C47.7988 54.0674 47.0019 54.4685 46.0309 54.7287L43.0744 55.5209L40.6257 46.3824L43.7886 45.5349C44.772 45.2714 45.6507 45.2169 46.4245 45.3713C47.1984 45.5257 47.8495 45.8805 48.3779 46.4357C48.9104 46.9897 49.3029 47.7376 49.5552 48.6794ZM47.0159 49.4536C46.8674 48.8994 46.6696 48.4611 46.4224 48.1387C46.1783 47.8111 45.8843 47.5973 45.5404 47.4974C45.1954 47.3933 44.7979 47.4016 44.3479 47.5222L43.629 47.7148L45.0007 52.8341L45.5508 52.6867C46.3009 52.4857 46.7929 52.1217 47.0268 51.5945C47.2596 51.0631 47.256 50.3495 47.0159 49.4536ZM51.9633 53.1391L49.5147 44.0006L51.9962 43.3357L54.4449 52.4742L51.9633 53.1391ZM62.3951 45.2389C62.6798 46.3016 62.7186 47.238 62.5114 48.0483C62.3043 48.8587 61.8877 49.5375 61.2617 50.0849C60.6387 50.627 59.8418 51.0281 58.8708 51.2882L55.9143 52.0805L53.4656 42.942L56.6285 42.0945C57.6119 41.831 58.4905 41.7764 59.2644 41.9308C60.0382 42.0853 60.6894 42.4401 61.2177 42.9952C61.7503 43.5493 62.1428 44.2972 62.3951 45.2389ZM59.8558 46.0131C59.7073 45.4589 59.5094 45.0206 59.2623 44.6983C59.0182 44.3707 58.7242 44.1569 58.3803 44.057C58.0353 43.9529 57.6378 43.9612 57.1877 44.0818L56.4689 44.2744L57.8406 49.3937L58.3907 49.2463C59.1408 49.0453 59.6328 48.6812 59.8667 48.154C60.0995 47.6227 60.0958 46.9091 59.8558 46.0131ZM72.1265 42.8257C72.3152 43.53 72.4017 44.1946 72.3861 44.8196C72.3735 45.4393 72.2438 46.0055 71.9971 46.5183C71.7504 47.031 71.3759 47.4753 70.8736 47.851C70.3702 48.2226 69.7268 48.5134 68.9434 48.7233C68.1767 48.9287 67.4824 48.9964 66.8607 48.9263C66.242 48.8509 65.6961 48.6555 65.223 48.3401C64.7488 48.0205 64.3466 47.5946 64.0164 47.0622C63.6862 46.5299 63.4256 45.9074 63.2347 45.1949C62.9801 44.2448 62.9153 43.3778 63.0402 42.594C63.1682 41.8049 63.5101 41.1304 64.0657 40.5706C64.6203 40.0067 65.4101 39.5874 66.4352 39.3127C67.477 39.0335 68.3749 39.0006 69.1288 39.214C69.8869 39.4262 70.5124 39.8437 71.0053 40.4665C71.4982 41.0892 71.8719 41.8756 72.1265 42.8257ZM65.8383 44.5106C65.9857 45.0607 66.1749 45.5169 66.406 45.8793C66.6371 46.2417 66.9165 46.4928 67.2444 46.6328C67.5722 46.7727 67.9548 46.7841 68.3924 46.6668C68.8466 46.5451 69.1786 46.3423 69.3883 46.0583C69.6023 45.7732 69.7145 45.4171 69.7251 44.9899C69.7399 44.5617 69.6736 44.0725 69.5262 43.5225C69.3051 42.6974 68.9929 42.0821 68.5894 41.6765C68.186 41.271 67.6488 41.1581 66.9779 41.3379C66.532 41.4574 66.2006 41.6623 65.9836 41.9527C65.7708 42.242 65.6555 42.6034 65.6377 43.0369C65.624 43.4693 65.6909 43.9606 65.8383 44.5106Z' fill='white'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_422_186' x1='42.5781' y1='0.496826' x2='42.5781' y2='85.3406' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2384783A'/%3E%3Cstop offset='1' stop-color='%23BBB17A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}